 // todo主体
 .todo-wrapper {
  background: #fff;
  box-shadow: 0 0 5px #666;
  // 添加
  .input-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    .add-input {
      width: 70%;
      font-size: 24px;
      font-weight: normal;
      border: none;
      padding: 16px 16px 16px 60px;
      outline: none;
    }
    .add-btn {
      width: 15%;
      margin-right: 15px;
      border: solid 1px #ddd;
      font-size: 24px;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .todo-body {
    max-height: 400px;
    overflow-y: auto;
  }
  // 列表
  .todo-item {
    position: relative;
    font-size: 24px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  
    &:hover {
      .destory:after {
        content: '×';
      }
    }
  
    label {
      display: block;
      line-height: 1.2;
      padding: 15px 60px 15px 15px;
      margin-left: 45px;
      white-space: pre-line;
      word-break: break-all;
    }
  
    &.completed {
      label {
        color: #d9d9d9;
        text-decoration: line-through;
      }
    }
  }
  
  .toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    text-align: center;
    outline: none;
    border: none;
    appearance: none;
  
    &:hover {
      cursor: pointer;
    }
  
    &:after {
      content: url('../images/round.svg');
    }
  
    &:checked:after {
      content: url('../images/done.svg');
    }
  }
  
  // 删除
  .destory {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    border-width: 0;
    cursor: pointer;
    outline: none;
  }

  // 暂无数据
  .no-list {
    width: 100%;
    font-size: 20px;
    color: #ddd;
    text-align: center;
    line-height: 50px;
  }
}